@charset "UTF-8";
/* цвет основного текста  #212121  */
/* вторичный цвет текста #757575  */
/* белый текст #FFFFFF  */
/* белый 60% прозрачность текст rgba(255, 255, 255, 0.6)  */
/* акцент текста #2196F3  */
/* background header: #FFFFFF; */
/* background hero, footer: #2F303A; */
/* background Наши приоритеты, Чем мы занимаемся: #E5E5E5; */
/* background Наша команда: #F5F4FA; */
/* 
    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */
:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --logo-color-header: #000;
  --primary-color-footer: #fff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --text-color-hero: #fff;
  --text-color-work: #fff;
  --bg-color-header: #fff;
  --bg-color-card: #fff;
  --bg-color-footer: #2f303a;
  --bg-color-hero: #2f303a;
  --bg-color-primary: #fff;
  --bg-color-secondary: #f5f4fa;
  --bg-color-button-hover: #188ce8;
  --bg-color-social-icon: #afb1b8;
  --card-border-var: 1px solid #eeeeee;
  --card-item-gap: 30px;
  --box-shadow-var: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --var-animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --var-animation-duration: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--bg-color-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.ul-clear-list-style {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.page-header a,
.page-footer a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
  }
}

.card__item--color {
  background-color: var(--bg-color-card);
}

.card__text {
  padding-top: 30px;
  padding-bottom: 0px;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--bg-color-social-icon);
  transition: fill var(--var-animation-duration) var(--var-animation-cubic), background-color var(--var-animation-duration) var(--var-animation-cubic);
}

.card__link:hover, .card__link:focus {
  fill: var(--bg-color-primary);
  background-color: var(--accent-color);
}

.page-header {
  background-color: var(--bg-color-header);
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  /* position: fixed;
  width: 100%; */
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: black;
  transition: fill var(--var-animation-duration) var(--var-animation-cubic);
}

.burger-btn :hover,
.burger-btn :focus {
  fill: var(--accent-color);
}

/* header address  */
.address {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .address {
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    flex-direction: row;
  }
}

.address__link {
  display: flex;
  align-items: center;
}

.address__item:nth-child(1) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .address__item:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.address__link:visited, .address__link {
  color: var(--secondary-text-color);
  transition: color var(--var-animation-duration) var(--var-animation-cubic);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__icon {
  fill: var(--secondary-text-color);
  transition: fill var(--var-animation-duration) var(--var-animation-cubic);
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .address__icon {
    margin-right: 10px;
  }
}

.address__link:hover .address__icon,
.address__link:focus .address__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu :not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: var(--primary-text-color);
  transition: color var(--var-animation-duration) var(--var-animation-cubic);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid var(--accent-color);
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  width: 100%;
  bottom: -32px;
}

.menu__link--current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-primary);
  transition: opacity var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-bnt {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.mobile-menu__nav-list, .mobile-menu__address-mob-menu, .mobile-menu__soc-link {
  margin-left: 25px;
}

.mobile-menu__container {
  letter-spacing: 0.02em;
  font-weight: 500;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.close-bnt {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-bnt :hover,
.close-bnt :focus {
  fill: var(--accent-color);
}

.close-bnt__icon {
  width: 40px;
  height: 40px;
  fill: black;
  transition: fill var(--var-animation-duration) var(--var-animation-cubic);
}

.nav-list {
  font-size: 40px;
  line-height: 1.18;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  color: var(--primary-text-color);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.address-mob-menu {
  position: fixed;
  bottom: 134px;
  font-size: 34px;
  line-height: 1.18;
}

.address-mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.address-mob-menu__link {
  color: var(--secondary-text-color);
}

.address-mob-menu__tel {
  color: var(--accent-color);
}

.address-mob-menu__email {
  font-size: 24px;
  line-height: 1.17;
}

.soc-link {
  position: fixed;
  display: flex;
  bottom: 48px;
  font-size: 18px;
  line-height: 1.22;
}

.soc-link__link {
  color: var(--accent-color);
}

.soc-link__item {
  display: flex;
  justify-content: center;
}

.soc-link__item:not(:last-child) {
  margin-right: 20px;
}

.soc-link__item:not(:last-child)::after {
  display: block;
  position: relative;
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  transform: translateX(10px);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition: color var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__fisrt-word {
  color: var(--accent-color);
  transition: color var(--var-animation-duration) var(--var-animation-cubic);
}

.logo:hover {
  color: var(--accent-color);
}

.page-header__logo {
  color: var(--logo-color-header);
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 92px;
  }
}

.page-header__logo:hover .logo__fisrt-word {
  color: var(--logo-color-header);
}

.page-footer__logo {
  color: var(--primary-color-footer);
  margin-bottom: 20px;
}

.page-footer__logo:hover .logo__fisrt-word {
  color: var(--primary-color-footer);
}

.hero {
  text-align: center;
  background-color: var(--bg-color-hero);
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero--overlay {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-main.jpg");
  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(0, 255, 34, 0.4)),
    url("../images/Img.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero--overlay {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero--overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero--overlay {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/deckstope/bg-main.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/deckstope/bg-main@2x.jpg");
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--text-color-hero);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-color-hero);
  background-color: var(--accent-color);
  border: 0px;
  border-radius: 4px;
  transition: background-color var(--var-animation-duration) var(--var-animation-cubic);
}

.button:hover, .button:focus {
  background-color: var(--bg-color-button-hover);
}

.button:hover .button__icon--animation,
.button:focus .button__icon--animation {
  transform: translate(200px, -50px) rotateX(-70deg);
  opacity: 0;
}

.button__icon {
  position: relative;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--primary-color-footer);
  opacity: 1;
  transition: transform 700ms var(--var-animation-cubic), opacity 700ms var(--var-animation-cubic);
}

.hero__button {
  align-items: center;
  text-align: center;
  padding: 10px 32px;
}

.form-subscription__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-priorities {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-priorities {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .priorities {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .priorities {
    flex-wrap: wrap;
    margin: -15px;
  }
  .priorities__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .priorities {
    justify-content: space-between;
  }
}

.priorities__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .priorities :nth-child(n) {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .priorities :nth-child(n) {
    width: 270px;
  }
}

.priorities__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .priorities__title {
    text-align: center;
  }
}

.priorities__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .priorities .priorities__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section-occupation {
    display: none;
  }
}

.section-occupation {
  /* background-color: var(--bg-color-primary); */
  padding-top: 94px;
  padding-bottom: 94px;
}

.occupation {
  margin: -15px;
}

.occupation .item {
  flex-basis: calc(100% / 3 - var(--card-item-gap));
  margin: 15px;
}

.occupation .img-thumb {
  position: relative;
}

.occupation-card-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation-card-title h3 {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-hero);
}

.section-team {
  background-color: var(--bg-color-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    margin: -15px;
  }
}

.team__item {
  width: 100%;
  padding-bottom: 24px;
  box-shadow: var(--box-shadow-var);
  /* border-radius: 0px 0px 4px 4px; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 0px;
  margin-bottom: 16px;
}

.team__social-link {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

@media screen and (max-width: 1199px) {
  .team__social-link {
    max-width: 206px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .team__social-link {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .clients {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients .item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    justify-content: space-between;
  }
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--bg-color-social-icon);
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill var(--var-animation-duration) var(--var-animation-cubic), border-color var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (min-width: 1200px) {
  .link-clients {
    width: 170px;
  }
}

.link-clients {
  fill: var(--bg-color-social-icon);
}

.icon-clients {
  width: 106px;
  height: 60px;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-color: var(--bg-color-primary); */
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio-works .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .section-portfolio-works {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .section-portfolio-works .card__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio-works .card__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .section-portfolio-works .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.works-link {
  display: block;
  transition: box-shadow var(--var-animation-duration) var(--var-animation-cubic);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-link,
.works-link:visited {
  color: inherit;
  text-decoration: none;
}

.works-link .img-thub {
  position: relative;
  perspective: 3000px;
  /* transform-style: preserve-3d; */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-portfolio-works .card__item:nth-child(1) .card__text {
    min-height: 143px;
  }
}

.image-works-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-work);
  background-color: rgba(33, 150, 243, 0.9);
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transform-origin: center left;
  transition: transform 1500ms var(--var-animation-cubic), opacity 1000ms var(--var-animation-cubic);
  opacity: 0;
}

.works-link:hover .image-works-text {
  transform: rotateY(360deg);
  opacity: 1;
  /* transform-origin: center right; */
  transition: transform 1500ms var(--var-animation-cubic), opacity 1000ms var(--var-animation-cubic);
}

.section-portfolio-works .card__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: var(--card-border-var);
  border-right: var(--card-border-var);
  border-bottom: var(--card-border-var);
}

.section-portfolio-works .text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
}

.section-portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .section-portfolio-filters {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio-filters {
    margin-bottom: 50px;
  }
}

.section-portfolio-filters :not(:last-child) {
  margin-right: 8px;
}

.section-portfolio-filters button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  border-radius: 4px;
  color: inherit;
  background-color: var(--bg-color-secondary);
  transition: color var(--var-animation-duration) var(--var-animation-cubic), background-color var(--var-animation-duration) var(--var-animation-cubic), box-shadow var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (max-width: 767px) {
  .section-portfolio-filters button {
    margin-bottom: 15px;
  }
}

.section-portfolio-filters button:hover,
.section-portfolio-filters button:focus {
  color: var(--text-color-hero);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.page-footer {
  color: var(--primary-color-footer);
  background-color: var(--bg-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .page-footer-address {
    margin-bottom: 60px;
  }
}

.page-footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer-address a,
.page-footer-address a:visited {
  color: var(--address-color-footer);
  transition: color var(--var-animation-duration) var(--var-animation-cubic);
}

.page-footer-address a:hover,
.page-footer-address a:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    justify-content: flex-start;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-footer-1 {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .section-footer-1 {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-1 {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-footer-2 {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .section-footer-2 {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-2 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .section-footer-2 {
    margin-bottom: 60px;
  }
}

.section-footer-2 .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-footer-2 .social-link {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .section-footer-2 .social-link {
    justify-content: flex-start;
  }
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--bg-color-primary);
  transition: background-color var(--var-animation-duration) var(--var-animation-cubic);
}

.svg-social {
  width: 20px;
  height: 20px;
  /* fill: var(--bg-color-primary); */
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-link .item:not(:last-child) {
  margin-right: 10px;
}

.section-footer-3 {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .section-footer-3 {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-footer-3 {
    margin-left: 93px;
  }
}

.label-email {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.form-subscription input {
  display: block;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscription input {
    min-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .form-subscription input {
    margin: 0 auto 20px 0;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription input {
    display: inline-flex;
  }
}

.form-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription input:focus,
.form-subscription input:hover {
  outline: none;
  border-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .email-action {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .email-action {
    display: flex;
  }
}

/* .form-subscription button:focus-visible {
  outline: none;
} */
.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  /* pointer-events:; */
  transition: opacity var(--var-animation-duration) var(--var-animation-cubic);
  /* , transform scale(1.15) var(--var-animation-duration) var(--var-animation-cubic);*/
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 100;
  transition: transform var(--var-animation-duration) var(--var-animation-cubic);
  /* transform: scale(1.15) var(--var-animation-duration) var(--var-animation-cubic); */
}

@media screen and (max-height: 609px) {
  .modal-window {
    overflow-x: scroll;
    height: 95%;
  }
}

@media screen and (min-height: 610px) and (max-width: 1199px) {
  .modal-window {
    min-height: 609px;
  }
}

@media screen and (min-width: 486px) {
  .modal-window {
    top: 50%;
    width: 450px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.button-clouse {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  background-color: #fff;
}

@keyframes img-svg-close-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img-svg-close {
  width: 11px;
  height: 11px;
  animation-name: img-svg-close-rotate;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  /* transition: transform var(--var-animation-duration) var(--var-animation-cubic); */
}

.button-clouse:hover .img-svg-close {
  animation-play-state: paused;
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* transition: opacity var(--var-animation-duration) linear; */
}

.is-hidden .modal-window {
  /* transform-origin: center; */
  transform: translate(-50%, -50%) scale(1.25);
  transition: transform var(--var-animation-duration) var(--var-animation-cubic);
}

.non-scroll-body {
  overflow: hidden;
}

.form-order {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-order-title {
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
}

.form-order-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline var(--var-animation-duration) var(--var-animation-cubic), border-color var(--var-animation-duration) var(--var-animation-cubic);
}

.form-order-input:focus,
.form-order-coment:focus,
.form-order-input:hover,
.form-order-coment:hover {
  outline: none;
  border-color: var(--accent-color);
}

/* .form-order-input:hover,
.form-order-coment:hover {
  border: 2px dashed var(--accent-color);
} */
.form-order-input:focus + .form-order-icon {
  fill: var(--accent-color);
}

.form-order-field {
  display: inline-flex;
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  justify-content: flex-start;
  align-items: center;
}

.form-order-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--var-animation-duration) var(--var-animation-cubic);
}

.form-order-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-order-coment {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* color: rgba(117, 117, 117, 0.5); */
  transition: outline var(--var-animation-duration) var(--var-animation-cubic), border-color var(--var-animation-duration) var(--var-animation-cubic);
}

.form-order-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order-coment:not(:placeholder-shown) {
  color: var(--primary-text-color);
}

.form-order-field.coment {
  margin-bottom: 20px;
}

.form-order-label-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: 7px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .form-order-label-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-order-label-agreement a,
.form-order-label-agreement a:visited {
  color: var(--accent-color);
}

.form-order-agreement {
  appearance: none;
  transition: background-color var(--var-animation-duration) var(--var-animation-cubic), border-color var(--var-animation-duration) var(--var-animation-cubic);
}

.form-order-agreement:focus {
  outline: none;
}

.form-order-agreement:focus + .form-order-field .form-order-icon-agreement,
.form-order-agreement:hover + .form-order-field .form-order-icon-agreement {
  outline: 1px solid var(--accent-color);
}

.form-order-icon-agreement {
  /* position: absolute; */
  width: 15px;
  height: 16px;
  top: 0;
  left: 0;
  fill: var(--primary-color-footer);
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color var(--var-animation-duration) var(--var-animation-cubic), border-color var(--var-animation-duration) var(--var-animation-cubic);
}

@media screen and (min-width: 1200px) {
  .form-order-icon-agreement {
    margin-left: 15px;
  }
}

.form-order-agreement:checked + .form-order-field .form-order-icon-agreement {
  /* fill: var(--primary-color-footer); */
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-order-button {
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-right: 54px;
  padding-bottom: 10px;
  padding-left: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color-footer);
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--var-animation-duration) var(--var-animation-cubic), box-shadow var(--var-animation-duration) var(--var-animation-cubic);
}

.form-order-button:hover,
.form-order-button:focus {
  background-color: var(--bg-color-button-hover);
}

.form-order-button:disabled {
  background-color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */